<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feedback-Form</title>
</head>
<body>
    <form class="container">
        <h1 class="one">FEEDBACK</h1>
        <p id="one"> Please provide your feedback and critique for the app!</p>
        <div class="two">
            <p > Name <input type="text" name="name" id="box1" required>
            </p>
            <div class="three">
                <p > Email <input type="email" name="email" id="box2" required>
                </p>
            <div class="four">
                <p > Phone Number  <input type="text" name="phoneNumber" id="box3" required>
                </p>
            <div class="six">
                <p >Feedback
                <textarea type="text" id="box5" ></textarea>
                </p>
            <div class="but" >
                <button type="submit">SUBMIT</button>
            </div>
            </div>
            </div>
            </div>
            </div>
    </form>
</body>
</html>
