<body>
<form (ngSubmit)="onSubmit()">
    <h1 class="one">FEEDBACK</h1>
  <div class="two">
    Name <input type="text" name="name" id="box1" [(ngModel)]="user.name" required>
  </div>
  <div class="three">
    Email <input type="email" name="email" id="box2" [(ngModel)]="user.email" required>
  </div>
  <div class="four">
    Phone Number <input type="text" name="phoneNumber" id="box3" [(ngModel)]="user.phoneNumber" required>
  </div>
  <div class="six">
    Feedback
    <textarea name="feedback" id="box5" [(ngModel)]="user.feedback" required></textarea>
  </div>
  <div class="but">
    <button type="submit">SUBMIT</button>
  </div>
</form>
</body>