 <!-- <div *ngIf="movie">
  <img [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path" alt="{{ movie.title }}">
 </div>
 <h2>{{ movie.title }}</h2>
<p>{{ movie.overview }}</p>
<p><strong>Release:</strong> {{ movie.release_date }}</p>
<p><strong>Rating:</strong> {{ movie.vote_average }} ⭐</p> -->
<div class="movie-detail">
  <img [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path" alt="{{ movie.title }}">
  <div class="movie-detail-content">
    <h2>{{ movie.title }}</h2>
    <p>{{ movie.overview }}</p>
    <p><strong>Release:</strong> {{ movie.release_date }}</p>
    <p><strong>Rating:</strong> {{ movie.vote_average }} ⭐</p>
  </div>
</div>

