* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: rgba(47, 47, 102, 0.936);
}
html, body {
  height: 100%;
  margin: 0;
}
body {
  display: flex;
  justify-content: center; 
  align-items: center;     
}
h1 {
  font-size: 60px;
  text-align: center;
  margin-top: 40px;
}
h2 {
  font-size: 30px;
  text-align: center;
}

#dynamic-island {
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(233, 233, 237, 0.85);
  padding: 0.5rem 1rem;
  border-radius: 1.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  transition: width 0.3s ease;
  z-index: 1000;
   width: auto;    
  transition: none; 
  overflow: visible;
}
.filters {
  display: flex;
  gap: 0.5rem;
}
.filters select {
  background: transparent;
  border: 1px solid #ccc;
  padding: 0.3rem 0.6rem;
  border-radius: 4px;
  color: #fff;
  opacity: 1;
  transition: none;
}
#island {
  position: fixed;
  top: 80px;
  right: 20px;
  background: rgba(20,20,20,0.8);
  padding: 10px 15px;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.5);
  z-index: 900;
}
.nav {
  display: flex;
  gap: 20px;
}
.nav img {
  width: 40px;
  height: 40px;
  transition: transform 0.2s;
}
.nav img:hover {
  transform: scale(1.1);
}
form {
  position: fixed;
  top: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  background: #f8f9fa;
  padding: 8px 12px;
  border-radius: 25px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  z-index: 950;
}
input[type="search"] {
  width: 200px;
  padding: 8px 12px;
  border: 1px solid #efe6e6;
  border-radius: 20px 0 0 20px;
  font-size: 14px;
  outline: none;
  transition: width 0.3s ease;
}
input[type="search"]:focus {
  width: 260px;
  border-color: #007bff;
}
button[type="submit"] {
  margin-left: -4px;
  padding: 8px 16px;
  border: none;
  border-radius: 0 20px 20px 0;
  background: #007bff;
  color: white;
  font-size: 14px;
  cursor: pointer;
}
button[type="submit"]:hover {
  background: #0056b3;
}
button[type="submit"]:disabled {
  background: #ccc;
  cursor: not-allowed;
}


.movie-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px,1fr));
  gap: 20px;
  padding: 140px 20px 20px;
}
.movie-card {
  background: #ecedf7;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.6);
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.2s;
}
.movie-card:hover {
  transform: translateY(-5px);
}
.movie-card img {
  width: 100%;
  height: 330px;
  object-fit: cover;
  display: block;
}
.movie-info {
  padding: 15px;
}
.movie-info h3 {
  font-size: 18px;
  color: #f4ec42;
  margin-bottom: 8px;
}
.movie-info p {
  font-size: 14px;
  line-height: 1.4;
  margin-bottom: 6px;
}
.movie-info strong {
  color: #fff;
}

