
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: rgb(54, 54, 101);
  color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background-color:rgba(44, 62, 80, 0.58);
  padding: 20px;
  border-radius: 8px;
  width: 100%;
  max-width: 500px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h2 {
  text-align: center;
  color: aliceblue;
  font-size: 2rem;
  margin-bottom: 20px;
  text-transform: capitalize;
}

div {
  margin-bottom: 15px;
}

input[type="text"],
input[type="number"],
textarea {
  width: 100%;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  background-color: transparent;
  color: aliceblue;
  font-size: 1rem;
}

textarea {
  resize: vertical;
  min-height: 100px;
}

.actions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

button[type="submit"],
button[type="button"] {
  width: 48%;
  padding: 12px;
  background-color: rgb(242, 243, 243);
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

button[type="submit"]:hover,
button[type="button"]:hover {
  background-color: #bdc3c7;
}

button[type="submit"]:disabled {
  background-color: #7f8c8d;
  cursor: not-allowed;
}
